@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>@Model.ErrorMessage</h2>
    <h1 class="display-4">Login</h1>
    <form method="post" class="align-items-center">
        <div class="form-group">
            <label>Username</label>
            <input name="Username" type="text" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="Password" type ="password" />
        </div>
        <div class="row justify-content-center">
            <input class="btn btn-primary" type="submit" value="Login" />
        </div>
</form>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
